<!DOCTYPE html>
<html>
<head>
    <title>ETA Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='eta-dashboard.css') }}">
    <script>
        setTimeout(function() {
            location.reload();
        }, 30000);
    </script>
    <script>
        function updateTime() {
            var currentTime = new Date();
            var timezoneOffset = currentTime.getTimezoneOffset() * 60 * 1000; // Convert to milliseconds
            var utcTime = currentTime.getTime() + timezoneOffset;
            var timezone = 8; // UTC+8
            var timezoneOffsetMs = timezone * 60 * 60 * 1000;
            var localTime = utcTime + timezoneOffsetMs;
            var localDateTime = new Date(localTime);

            var hours = localDateTime.getHours();
            var minutes = localDateTime.getMinutes();
            var seconds = localDateTime.getSeconds();

            // Add leading zero if needed
            hours = (hours < 10 ? "0" : "") + hours;
            minutes = (minutes < 10 ? "0" : "") + minutes;
            seconds = (seconds < 10 ? "0" : "") + seconds;

            var timeString = hours + ":" + minutes + ":" + seconds;

            // Update the element with the current time
            document.getElementById("current-time").innerText = timeString;
        }

        // Call updateTime() every second (1000 milliseconds)
        setInterval(updateTime, 1000);
    </script>
</head>

<body>
<!-- <p id="last-refreshed-time">Last Refreshed: {{ last_refreshed_time }}</p> -->
<div class="top">
<div class="top-left">
<p id="current-time"></p>
</div>
<div class="top-right">
    <div class="weather">
        <!-- <p>{{ current_weather.generalSituation }}</p> -->
        <p>{{ current_weather.forecastDesc }}</p>
        <!-- <p>{{ current_weather.outlook }}</p> -->
        <p></p>
    </div>
    {% for weather in weather_forecast %}
    <div class="weather">
        <p>{{ weather.week }} {{ weather.forecastMintemp.value }} - {{ weather.forecastMaxtemp.value }} C {{ weather.forecastMaxrh.value }}%</p>
        <p>{{ weather.forecastWeather }}</p>
        <p></p>
    </div>
    {% endfor %}

</div>
</div>
<div class="grid-container">
    {% for item in eta %}
    <div class="grid-item">
        <h2>{{ item.route }}</h2>
        <!-- <p>{{ item.stop_name_tc }}</p> -->
        <p>{{ item.stop_name_en }}</p>
        <ul>
            {% for eta in item.etas %}
            <li>{{ eta }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<!-- <h1>9-Day Weather Forecast</h1>
<table id="weather-table">
    <tr>
        <th>Date</th>
        <th>Week</th>
        <th>Wind</th>
        <th>Weather</th>
        <th>Max Temp (°C)</th>
        <th>Min Temp (°C)</th>
        <th>Max RH (%)</th>
        <th>Min RH (%)</th>
        <th>Forecast Icon</th>
        <th>PSR</th>
    </tr>
</table> -->

</body>
</html>